.wrapper-container {
  display: flex;
  flex-direction: column;
  background: white;
  min-height: 100vh;
  max-width: 700px;
  margin: 3rem auto;
}

.bookings-header-bar {
  display: flex;
  justify-content: space-between;
}

.bookings-header-bar h1 {
  font-weight: bold;
  color: #1f3a5f;
}

.manage-bookings-btn {
  border-radius: 10px;
  border: none;
  color: #1f3a5f;
  font-weight: 600;
  font-family:
    Open Sans,
    sans-serif;
  font-size: 1rem;
  padding: 0 16px;
  text-decoration: underline;
}

.manage-bookings-btn:hover {
  background-color: #ffc72c;
}

.upcoming-appointments-container {
  margin: 2.5rem 0;
}

.upcoming-appointments-table {
  margin: 2rem 0;
}
