.profile-page {
  width: 100%;
  justify-items: center;
  background-color: #e9ecf0;
}

.profile-container {
  width: 980px;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
}

.form {
  width: 800px;
  outline: solid;
  max-height: 90vh;
  display: flex;
  flex-direction: row;
  /* align-items: center; */
  justify-content: center;
  padding: 20px;
}
.form-nav {
  display: flex;
  flex-direction: column;
  outline: solid;
  width: 200px;
  margin-left: auto;
}

.form-panel {
  display: flex;
  flex-direction: column;
  margin-left: auto;
}

.form-block {
  background: white;
  padding: 1.5rem;
  border-radius: 12px;
  max-width: 600px;
  width: 450px;
  align-items: center;
}

.btn-yellow {
  background: #ffc72c;
  color: #1f3a5f;
}

.btn-navy {
  background: #1f3a5f;
  color: #ffc72c;
}

.btn-layout {
  margin-right: 5px;
  padding: 5px 10px;
  border-radius: 7px;
  cursor: pointer;
  border: none;
  font-size: small;
  font-weight: bold;
}
