.profile-page {
  width: 100%;
  display: flex;
  justify-content: center;
  background-color: #e9ecf0;
}

.profile-container {
  max-width: 980px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: top;
  align-items: center;
  /* margin-top: 5rem; */
  margin: 5rem 0;
}

.form {
  display: grid;
  grid-template-columns: 200px 1fr;
  gap: 24px;
  width: 100%;
  max-width: 700px;
}

.form-nav {
  background: white;
  border-radius: 12px;
  height: 45rem;
  top: 24px;
  width: 200px;
}

.form-panel {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.form-block {
  background: white;
  padding: 1.5rem;
  border-radius: 12px;
  max-width: 450px;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.btn-yellow {
  background: #ffc72c;
  color: #1f3a5f;
  width: fit-content;
}

.btn-navy {
  background: #1f3a5f;
  color: #ffc72c;
  width: fit-content;
}

.btn-layout {
  margin-right: 5px;
  padding: 5px 10px;
  border-radius: 7px;
  cursor: pointer;
  border: none;
  font-size: small;
  font-weight: bold;
}

.form-nav a {
  color: #333333;
}

.form-nav a:hover {
  background: #e9ecf0;
  color: #333333;
}

.form-nav .nav-link.active {
  background-color: #1f3a5f;
  color: #ffffff;
}
