.all-pets-container {
  background-color: #f5f5f5;
  display: flex;
  justify-content: center;
  max-width: 1000px;
  margin: 0 auto;
}

.all-pets-content {
  display: grid;
  grid-template-rows: 80px 50px 1fr;
  width: 100%;
  align-items: flex-start;
  padding: 0px 20px 40px 20px;
  max-width: 1000px;
  margin: 50px auto;
  max-width: 800px;
  min-height: 100vh;
}

.all-pets-header {
  justify-self: center;
}

.all-pets-header h2 {
  font-weight: 700;
  color: #1f3a5f;
}

.all-pets-actions {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.all-pets-actions button {
  border-radius: 10px;
  border: none;
  font-size: 0.9rem;
  font-weight: bold;
  padding: 0.4rem;
}

.pets-list-container {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.pets-list {
  display: flex;
  flex-direction: column;
}
