.all-pets-container {
  background-color: #e9ecf0;
  /* min-height: 100vh; */
  height: auto;
  display: flex;
  justify-content: center;
}

.all-pets-content {
  display: grid;
  grid-template-rows: 80px 50px 1fr;
  width: 100%;
  max-width: 800px;
  align-items: flex-start;
  padding-bottom: 40px;
  margin-top: 3rem;
}

.all-pets-header {
  justify-self: center;
}

.all-pets-header h2 {
  font-weight: bolder;
  color: #1f3a5f;
}

.all-pets-actions {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.all-pets-actions button {
  border-radius: 10px;
  border: none;
  font-size: 0.9rem;
  font-weight: bold;
  padding: 0.4rem;
}

.pets-list-container {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.pets-list {
  display: flex;
  flex-direction: column;
  gap: 24px;
}
