.pets-container {
  background-color: #f2f3f7;
  min-height: 150vh;
}

.all-pets-container {
  max-width: 1000px;
  margin: 0 auto;
  padding-top: 30px;
  min-height: 100vh;
}

.all-pets-content {
  display: grid;
  grid-template-rows: 80px 50px 1fr;
  width: 100%;
  align-items: flex-start;
  padding-top: 50px !important;
  max-width: 1000px;
  margin: 00px auto;
  max-width: 800px;
  min-height: 100vh;
}

.all-pets-header {
  justify-self: center;
}

.all-pets-header h2 {
  font-weight: 700;
  font-size: 2.1rem;
  font-family: "nunito";
  color: #1f3a5f;
}

.all-pets-actions {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.all-pets-actions button {
  background-color: transparent;
  border: 3px solid #ffc72c;
  color: #1f3a5f;
  border-radius: 20px;
  width: 100px;
  min-width: 150px;
  height: 40px;
  font-size: 0.93rem;
  font-weight: bold;
  padding: 0.4rem;
}

.all-pets-actions button:hover {
  color: #16325b;
  background-color: #ffc72c;
  border: none;
}

.pets-list-container {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.pets-list {
  display: flex;
  flex-direction: column;
}
