* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-family: "nunito", "Open Sans";
}

body {
  /* width: 100vw; */
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  background-color: white;
  /* padding: 0 16px; */
}

.main {
  flex: 1;
  padding-top: 100px;
}

/* Header */
header {
  position: fixed;
  background-color: #ffc72c;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 16px max(50px, calc((100vw - 1000px) / 2));
  top: 0;
  width: 100%;
  height: 100px;
  z-index: 1000;
}

.header-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex: 1;
}

.hotdog-logo {
  width: 90px;
  height: auto;
  object-fit: cover;
}

.profile-icon {
  width: 40px;
  height: 40px;
  height: auto;
  object-fit: cover;
}

/* Navigation */
.nav-links {
  list-style: none;
  display: flex;
  gap: 32px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 0;
}

.nav-links li a {
  text-decoration: none;
  font-family: "Open Sans";
  font-size: 15px;
  font-weight: 700;
  color: #1f3a5f;
  transition: color 0.2s ease;
}

.nav-links li a:hover {
  color: white;
}

/* Access buttons */
.access-btn {
  display: flex;
  gap: 12px;
}

.login {
  background: transparent;
  border: 3px solid #1f3a5f;
  color: #1f3a5f;
  font-size: 15px;
  font-weight: 700;
  padding: 8px 16px;
  border-radius: 12px;
  cursor: pointer;
  transition: all 0.25s ease;
}

.signup {
  background-color: #1f3a5f;
  border: 3px solid #1f3a5f;
  color: #ffc72c;
  font-size: 15px;
  font-weight: 700;
  padding: 8px 18px;
  border-radius: 12px;
  cursor: pointer;
  transition: all 0.25s ease;
}

.login:hover {
  background-color: #1f3a5f;
  border: 3px solid #1f3a5f;
  color: #ffc72c;
}

.signup:hover {
  background: transparent;
  border: 3px solid #1f3a5f;
  color: #1f3a5f;
}
