body {
  background-color: white;
  text-align: center;

}


.add-pet-form-container {
  background-color: white;
  color: #333333;
  border-radius: 10px;
  box-shadow: 0 0 20px rgba(31, 58, 95, 0.2);
  padding: 30px;
  transition: transform 0.2s;
  width: 500px;
  text-align: center;
  margin: auto;
  font-size: 15px;
}


.add-pet-form-container label {
  font-size: 15px;
  display: block;
  width: 100%;
  margin-top: 8px;
  margin-bottom: 5px;
  text-align: left;
  color: #1f3a5f;
  font-weight: bold;
}

.add-pet-form-container input {
  display: block;
  width: 100%;
  height: 40px;
  padding: 0px 15px;
  box-sizing: border-box;
  border: 2px solid #1f3a5f;
  border-radius: 10px;
  outline: none;
  margin-bottom: 15px;
}

.gender-radiobutton {
  display: flex;
} 

.gender-radiobutton input[type="radio"] {
  display: none;
}

.gender-radiobutton span {
  position: relative;
  line-height: 20px;
  padding-left: 30px;
}

.gender-radiobutton span::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 20px;
  height: 20px;
  border: 2px solid #1f3a5f;
  border-radius: 50%;
  background-color: white;
}

.gender-radiobutton input[type="radio"]:checked + span::after {
  content: "";
  position: absolute;
  left: 6px;
  top: 6px;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background-color: #ffc72c;
}

.desexed-radiobutton {
  display: flex;
}

.desexed-radiobutton input[type="radio"] {
  display: none;
}

.desexed-radiobutton span {
  position: relative;
  line-height: 20px;
  padding-left: 30px;
}

.desexed-radiobutton span::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 20px;
  height: 20px;
  border: 2px solid #1f3a5f;
  border-radius: 50%;
  background-color: white;
}

.desexed-radiobutton input[type="radio"]:checked + span::after {
  content: "";
  position: absolute;
  left: 6px;
  top: 6px;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background-color: #ffc72c;
}

.add-pet-form-container select {
  display: block;
  width: 100%;
  height: 40px;
  margin-bottom: 15px;
  box-sizing: border-box;
  border: 2px solid #1f3a5f !important;
  border-radius: 10px;
  padding: 0px 15px;
}

.add-pet-form-container textarea {
  resize: none;
  width: 100%;
  min-height: 100px;
  max-height: 150px;
  border-radius: 10px;
  padding: 10px 15px;
  border: 2px solid #1f3a5f !important;
  outline: none;
  margin-bottom: 15px;
}


.add-pet-form-container .cancelbutton {
  padding: 10px 15px;
  border-radius: 20px;
  margin: 15px;
  border: none;
  color: #1f3a5f;
  background-color: #e8eaee;
  width: 40%;
  font-weight: 700;
}

.add-pet-form-container .cancelbutton:hover {
  color: #1f3a5f;
}

.add-pet-form-container .submitbutton {
  padding: 10px 15px;
  border-radius: 20px;
  margin: 15px;
  border: none;
  color: #1f3a5f;
  background-color: #ffc72c;
  width: 40%;
  font-weight: 700;
}

.add-pet-form-container .submitbutton:hover {
  color: white;
}




.selectpet-container {
  background-color: #e8eaee;
  border-radius: 10px;
  padding: 20px;
  height: 290px;
  margin-bottom: 20px;
}

.submitbutton1 {
  padding: 10px 15px;
  border-radius: 20px;
  border: none;
  color: #1f3a5f;
  background-color: #ffc72c;
  width: 100%;
  font-weight: 700;
}