@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.13.1/font/bootstrap-icons.min.css");

.appointment-page {
  min-height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  background-color: white;
}

.appointment-container {
  display: grid;
  grid-template-rows: auto 450px auto;
  max-width: 800px;
  width: 100%;
  /* outline: solid; */
  min-height: 100%;
  height: auto;
}

.provider-content {
  display: grid;
  /* grid-template-rows: 60px 1fr 85px 90px; */
  grid-template-rows: auto auto auto auto;
  gap: 10px;
  margin-bottom: 40px;
}

.provider-content h1 {
  justify-self: center;
  margin: 30px 0px;
  font-weight: 700;
  color: #1f3a5f;
}

.provider-img-container {
  max-width: 990px;
  width: 100%;
  height: 300px;
  overflow: hidden;
}

.provider-img-container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.provider-info {
  display: flex;
  flex-direction: column;
}

.provider-info img {
  width: 16px;
  height: 16px;
  align-self: center;
}

.flex-gap {
  display: flex;
  gap: 20px;
  margin-bottom: 3px;
}

.bookings-banner {
  max-width: 100%;
  background-color: #ffc72c;
  font-size: 1.5rem;
  padding: 0rem 1rem;
  min-height: 3rem;
  align-content: center;
}

.bookings-container {
  /* display: flex;
  flex-direction: column; */
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 0.5rem;
}

.date-container {
  display: flex;
  flex-direction: row;
  max-width: 400px;
  width: 100%;
  height: auto;
}

.time-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(6, 40px);
  gap: 0.5rem;
  margin-top: 10px;
  justify-content: center;
  align-items: center;
}

.time-button {
  height: 30px;
  border: none;
  border-radius: 10px;
  background-color: lightgray;
  color: #1f3a5f;
}

.action-btn-container {
  display: flex;
  justify-content: flex-end;
  gap: 0.5rem;
}

.action-btn-format {
  width: 80px;
  max-height: 30px;
  border-radius: 10px;
  padding: 3px;
  text-align: center;
  border: none;
}

.grey-btn {
  background-color: lightgray;
}

.navy-btn {
  background-color: #1f3a5f;
  color: #ffc72c;
}

.active-btn {
  background-color: #ffc72c;
}
