.time-button {
  height: 30px;
  border: none;
  border-radius: 10px;
  color: #1f3a5f;
}

.time-button.time-button-available {
  background-color: #f2f3f7;
  color: #333333;
}

.time-button.time-button-available:hover {
  border: 3px solid #ffc72c;
  background-color: transparent;
}

.time-button.time-button-booked {
  background-color: #ffc72c;
  cursor: not-allowed;
}

.time-button.active-btn {
  background-color: #ffc72c;
  outline-offset: 1px;
}
