body {
  width: 100vw;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  background: white;
  padding: 0 16px;
}

/* Page container */
.adout-container {
  max-width: 1000px;
  min-height: 100vh;
  margin: 0 auto; 
  /* padding: 0 1rem;  */
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center; /* center all child content horizontally */
}

/* ABOUT IMAGE BANNER */
.about-banner-container {
  display: grid;
  height: 350px;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
  margin-bottom: 50px !important;
  background-color: #FFC72C;
  margin: 0 calc(50% - 50vw) 0;
  padding: 0 max(50px, calc((100vw - 1000px) / 2));
  overflow: hidden;
}

.about-banner-card {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  justify-content: center;
}

.adout-banner-h1 {
  color: #1f3a5f;
  font-family: "nunito";
  font-weight: 900;
  text-align: left;
  font-size: 35px;
  line-height: 1.2;
}

.about-subheading {
  font-size: 20px;
  font-weight: 500;
  text-align: left;
  color: #333333;
  margin-top: 15px;
  margin-bottom: 25px;
  font-family: "Open Sans";
  line-height: 1.2;
}

.adout-banner-img {
  width: 67%;
  height: auto;
  object-fit: cover;
}

.contact-us-to-register-btn {
  background-color: #1f3a5f;
  color: #FFC72C;
  font-family: "Open Sans";
  font-size: 15px;
  font-weight: 600;
  width: 200px;
  height: 40px;
  border-radius: 20px;
  border: none;
  transition: all 0.2s ease;
}

.contact-us-to-register-btn:hover {
  color: white;
  background-color: #16325b;
}

/* USING HOTDOG TO DELIEVER */
.adout-heading {
  font-weight: 900;
  font-size: 35px;
  text-align: center;
  color: #1f3a5f;
  font-family: "nunito";
  line-height: 1.2;
}

.adout-body-text {
  font-size: 20px;
  font-weight: 400;
  text-align: center;
  color: #333333;
  line-height: 1.5;
  margin-top: 15px;
  margin-bottom: 50px;
  font-family: "Open Sans";
}

/* wHAT WE DO FOR YOU */
.whatwedo_parentcontainer {
  width: 100%;
  max-height: 470px;
  background-color: #e8eaee;
  padding: 50px;
  margin-bottom: 50px;
  overflow: hidden;
}

.whatwedo-showcontainer {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;
  margin: 30px auto 0;
  padding: 0 20px;
  justify-content: center;
  align-items: start;
}

.adout-bannershow-card {
  max-height: 450px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  padding: 20px;
}

.whatwedo-subheading {
  font-size: 20px;
  font-weight: 500;
  text-align: center;
  color: #333333;
  margin-top: 15px;
  margin-left: 50px;
  font-family: "Open Sans";
  line-height: 1.2;
}

.adout-banner-title {
  color: #1f3a5f;
  font-family: "nunito";
  font-weight: 600;
  font-size: 20px;
  text-align: center;
  margin-bottom: 8px;
}

.adout-banner-companyName {
  color: #1f3a5f;
  font-family: "nunito";
  font-weight: 900;
  font-size: 20px;
  text-align: center;
  margin-bottom: 8px;
}

.adout-banner-description {
  color: #333333;
  font-family: "Open Sans";
  font-size: 15px;
  line-height: 1.5;
  max-width: 300px;
  text-align: center;
}

.icon-whatwedo {
  width: 80px;
  margin-bottom: 25px;
  padding: 15px;
  border-radius: 50%;
  border: 7px solid #FFC72C;
}

/* BUSINESS TESTIMONIALS */
.businesstesi_parentcontainer {
  width: 100vw;
  max-height: 550px;
  background-color: #e8eaee;
  padding: 50px;
  margin-bottom: 50px;
  overflow: hidden;
}

.businesstesi-showcontainer {
  display: grid;
  grid-template-columns: repeat(3, minmax(0, 1fr));
  gap: 20px;
  margin: 30px calc(50% - 50vw) 0;
  padding: 0 max(50px, calc((100vw - 1000px) / 2));
  justify-content: center;
  align-items: center;
}

.icon-businesstesi {
  width: 40%;
}

/* SPONDORED BY THE HOLBERTON SCHOOL*/
.sponsor-container {
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  gap: 20px;
  margin: 0px calc(50% - 50vw) 0;
  padding: 0 max(50px, calc((100vw - 1000px) / 2));
  max-height: 550px;
  margin-bottom: 50px;
}

.sponsor-card {
  max-height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: left;
  align-items: left;
  box-sizing: border-box;
  justify-content: center;
}

.icon-sponsor {
  width: 35%;
}

.sponsor-description {
  color: #333333;
  font-family: "Open Sans";
  font-size: 25px;
  line-height: 1.2;
}
