body {
  width: 100vw;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  background: white;
  padding: 0 16px;
}

/* Page container */
.service-container {
  max-width: 1000px;
  min-height: 100vh;
  margin: 50px auto; 
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center; /* center all child content horizontally */
}

/* Card */
.service-title-card-container {
  width: 100%;
  display: flex;
  justify-content: flex-start;
}

.service-card-title {
  font-family: "Open Sans";
  font-size: 20px;
  font-weight: 500;
  text-align: left;
  color: #1f3a5f;
  margin-bottom: 10px;
  margin-top: 20px
}

.service-cards-container {
  display: grid;
  width: 100%;
  min-height: 600px;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
  margin-top: 20px;
  margin-bottom: 50px;
}

.service-card {
  border-radius: 25px;
  background-color: #e8eaee;
  padding: 20px;
  padding-bottom: 0px !important;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 250px;
}

/* Header */
.service-info-row {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.company-logos {
  width: 60px;
  height: 60px;
  object-fit: contain;
  background: white;
  padding: 6px;
  border-radius: 10px;
}

.service-name {
  font-size: 15px;
  font-weight: 600;
  color: #1f3a5f;
}

.service-address {
  font-size: 13px;
  color: #555;
}

.label {
  font-size: 12px;
  color: #777;
}

.rating {
  font-size: 26px;
  font-weight: 700;
  color: #1f3a5f;
}

/* opening hours */
.opening-container {
  color: green;
  font-size: 15px;
  font-weight: 700;
}

/* mini calendar */
.service-overlay {
  background-color: #FFC72C;
  width: 100%;
  border-radius: 0 0 25px 25px;
  padding: 12px 16px;
  display: flex;
  align-items: center;
  justify-content: space-between; 
}

.availability-container {
  display: flex;
  gap: 6px;
  align-items: center;
}

.today {
  font-weight: 600;
  font-size: 13px;
  font-size: 13px;
}

.times {
  padding: 4px 8px;
  border-radius: 12px;
  font-size: 12px;
  font-weight: 500;
}

/* button */
.book-now-btn {
  background-color: #16325b;
  color:#f6c400;
  border: none;
  border-radius: 20px;
  padding: 8px 16px;
  font-size: 12px;
  font-weight: 600;
  height: 30px;
  cursor: pointer;
}

.book-now-btn:hover {
  color: white;
}




