.auth-page {
  background-image: url("../../assets/images/hotdog-backround.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  min-height: 100vh;
}

.signup-btn {
  background-color: #ffc72c;
  width: 100%;
  margin-bottom: 30px;
  font-weight: bold;
}

.form-card {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  text-align: center;
}

.form-card form {
  background: white;
  padding: 2rem;
  border-radius: 12px;
  max-width: 450px;
  width: 100%;
  box-shadow: 0 0 15px 0px rgba(0, 0, 0, 0.239);
  align-items: center;
}

.justify-left {
  text-align: left;
}

.sub-text {
  font-size: small;
}
